*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #242424;
  margin: 0;

  color: #fff;
}
.df {
  display: flex;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.fdc {
  flex-direction: column;
}
.jcsb {
  justify-content: space-between;
}
.jce {
  justify-content: flex-end;
}
